<section id="about" class="about-section">

        <div class="well">    
          <h2>About Us</h2>
            
                
            <div class="about">  
              <p><strong>Welcome to Rodbroker.com where independent rod builders create the rod of your dreams.  This site has craftsman from across the US that build fishing rods for all types of fishing.  Whether you are looking to do some bass fishing, salmon fishing, or go after those giant pelagic fish, we have a builder on here for you.</strong></p>  

              <p><strong>Please feel free to browse through the pictures of hand crafted fishing rods that are a testament to our builders’ skill and passion.</strong></p>

              <p><strong>In order to contact a builder or create your own builder profile, please sign up for a free account. </strong></p>

              <p><strong>Thank you for visiting and supporting our independent builders. </strong></p>
            </div>
          </div>

               
    
        <div class='col-sm-6 col-md-6 col-lg-4' >
          <div class="well">Ad # 1
          </div>
        </div>
          <div class='col-sm-6 col-md-6 col-lg-4' >
          <div class="well">Ad #  2
          </div>
        </div>
        <div class='col-sm-6 col-md-6 col-lg-4' >
          <div class="well">Ad #  3
          </div>
        </div>
</section>