<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">    
          <h2>About Us</h2>
            
                
            <div class="about">  
              <p><strong>Welcome to Rodbroker.com where independent rod builders create the rod of your dreams.  This site has craftsman from across the US that build fishing rods for all types of fishing.  Whether you are looking to do some bass fishing, salmon fishing, or go after those giant pelagic fish, we have a builder on here for you.  

              Please feel free to browse through the pictures of hand crafted fishing rods that are a testament to our builders’ skill and passion.

              In order to actually contact a builder and see more details, please sign up for a free account that allows you to directly communicate with the builders.  In addition, your account enables you to track orders and provide reviews.

              Thank you for visiting and supporting our independent builders. </strong></p>
            </div>
          </div>
        </div>
      </div>
               
      <div class='row'>
        <div class='col-sm-6 col-md-6 col-lg-4' >
          <div class="well">Ad # 1
          </div>
        </div>
          <div class='col-sm-6 col-md-6 col-lg-4' >
          <div class="well">Ad #  2
          </div>
        </div>
        <div class='col-sm-6 col-md-6 col-lg-4' >
          <div class="well">Ad #  3
          </div>
        </div>
      </div>
   </div>
</section>