<section id="results" class="results-section">
     <div class='col-sm-6 col-md-6 col-lg-6' ng-repeat="builder in builders" ng-click="showBuilder(builder.id)">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="well">
                <div class="card-block">
                  <h3 class="card-title" ng-show="isLoggedIn()">{{builder.name}}</h3>
                  <p class="card-text">
                    <h4>Location: {{builder.location}}</h4>
                    <h4>Shipping Options: {{builder.ship}}</h4>
                  </p>
                  <a href="#/login" ng-hide="isLoggedIn()" class="btn btn-primary">Sign in to see contact info</a>
                </div>
              </div>
            </div>  
          </div>
      </div>
   </div>
</section>
