<section id="results" class="results-section">
     <div class='col-sm-6 col-md-6 col-lg-6' ng-repeat="builder in builders" ng-click="showBuilder(builder.id)">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="well">
                <div class="card-block">
                  <h4 class="card-title">{{builder.name}}</h4>
                  <p class="card-text">
                    <li>Location: {{builder.location}}</li>
                    <li>Shipping Options: {{builder.ship}}</li>
                  </p>
                  <li ng-class="{ active: isActive('/login')}"><a href="#/login" ng-hide="isLoggedIn()" class="btn btn-primary">Sign in to see contact info</a></li>
                </div>
              </div>
            </div>  
          </div>
      </div>
   </div>
</section>
