
<section id="intro" class="intro-section">
 
    <div class="well">    
      <h2>What type of fishing rod are you looking for?</h2>
      <div class="form-group">
        <form>
          <input type="text" placeholder="By Fish, Reel Type or Rod Blank" class="form-control" id="search" ng-model="searchQuery">
          <button type="submit" class="btn btn-primary" ng-click="search()">Search!</button>
          <a class="pull-right" href="" ng-click="toggleAdvancedSearch()">Advanced Search</a>

          <div ng-show="advancedSearch" ng-include="'views/builderChecks.html'"></div>
        </form>
      </div>
            
      <div class="welcome">
        <p><strong>Welcome to Rod Broker! Rod Broker is crafted exactly to your fishing needs. We bring the world’s independent fishing rod builders to you. These builders from across the world create custom, hand crafted fishing rods to your specifications.</strong></p>
        <p><strong>Sign up to contact these excellent craftsmen. Whether it’s a gift for someone close, yourself, or a specific need, we have a builder that can help you.</strong></p>
      </div>
    </div>
           
    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class="well">Ad # 1
      </div>
    </div>
      <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class="well">Ad #  2
      </div>
    </div>
    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class="well">Ad #  3
      </div>
    </div>
</section>
