
<section id="intro" class="intro-section">
 
    <div class="well">    
      <h2>What type of fishing rod are you looking for?</h2>
      <div class="form-group">
        <label for="search">Search</label>
        <input type="text" placeholder="By Fish, Rod Type or Rod Blank" class="form-control" id="search" ng-model="search">
      </div>
            
      <div class="welcome">  
        <p><strong>Welcome to Rod Broker! Rod Broker is crafted exactly to your fishing needs. We bring the world’s independent fishing rod builders to you. These builders from across the world create custom, hand crafted fishing rods to your specifications.</strong></p>
        <p><strong>Whether it’s a gift for someone close, yourself, or a specific need, we have a builder that can help you.</strong></p>
      </div>
    </div>
           
    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class="well">Ad # 1
      </div>
    </div>
      <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class="well">Ad #  2
      </div>
    </div>
    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class="well">Ad #  3
      </div>
    </div>
</section>
