
<div ng-controller="MainCtrl">
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          
        <a class="navbar-brand navbar-nav nav" href="/#/">
          <img class="brand" alt="Brand" src="/images/logo.png">
        </a>
      
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <div>
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
          <li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a></li>
          <li ng-class="{ active: isActive('/builders')}"><a href="#/builders">Builders</a></li>
        </ul>
      </div>
      <div> 
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p id="userName" class="navbar-text" ng-show="isLoggedIn()">
              Welcome, <span>{{currentUser.username}}</span>
            </p>
          </li>
          <li ng-class="{ active: isActive('/signup')}"><a href="#/signup" ng-hide="isLoggedIn()">Signup</a></li>
          <li ng-class="{ active: isActive('/login')}"><a href="#/login" ng-hide="isLoggedIn()">Login</a></li>
          <li><a ng-click="logout()" ng-show="isLoggedIn()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    
    <!-- /////// TO DO - Featured Ad ///////////   -->

    <div class="well">
    <p>Featured Ad</p>
    </div>

    <!-- ////////// Become a builder /////////// -->

     <!-- <ul><a href="#/builders/new" ng-hide="isLoggedIn()" class="btn btn-primary">Become a Builder</a></ul> -->

     <div class="bigButtons" ng-show="isLoggedIn()">
      <a href="#/builders/new" ng-show="noProfile()" class="btn btn-primary btn-lg">Become a Builder</a>
      <a ng-click="showMyProfile()" ng-hide="noProfile()" class="btn btn-success btn-lg">My Profile</a>
    </div>

</div>


















