<section id="newBuilder" class="newBuilder-section">
    <div class="well">    
      <h2>Builder sign up form</h2>
     <form ng-submit="createBuilder()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" placeholder="eg Dick Rodman" ng-model="builder.name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="meatwad9@yahoo.com" ng-model="builder.email">
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="phone" class="form-control" id="phone" placeholder="217.419.6564" ng-model="builder.phone">
      </div>
      <div class="form-group">
        <label for="bio">Your autobiography</label>
        <input type="bio" class="form-control" id="bio" placeholder="I had a friend once, he did some acid, tried to marry me and everyone in the room. He was sorta loving, kinda caring, kind that tried to fuck me and my laz-e-boy" ng-model="builder.bio">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="location" class="form-control" id="location" placeholder="eg Xanadu, Mongolia" ng-model="builder.location">
      </div>
      <div class="form-group">
        <label for="minprice">Minimum Price</label>
        <input type="minprice" class="form-control" id="minprice" placeholder="Cheapest pole you sell" ng-model="builder.minprice">
      </div>
      <div class="form-group">
        <label for="maxprice">Maximum Price</label>
        <input type="maxprice" class="form-control" id="maxprice" placeholder="Upper end price for your poles" ng-model="builder.maxprice">
      </div>
      <div class="form-group">
        <label for="ship">Shipping</label>
        <input type="ship" class="form-control" id="ship" placeholder="Do you ship?" ng-model="builder.ship">
      </div>      
      <div class="form-group">
        <label for="rodtype">Type of Rod</label>
        <input type="rodtype" class="form-control" id="rodtype" placeholder="eg Spinning, Fly and Controlled" ng-model="builder.rodtype">
      </div>
      <div class="form-group">
        <label for="species">Fish Species</label>
        <input type="species" class="form-control" id="species" placeholder="Salmon, Bass, Cod, etc." ng-model="builder.species">
      </div>
      <div class="form-group">
        <label for="poleblank">Pole Blank</label>
        <input type="poleblank" class="form-control" id="poleblank" placeholder="eg, Bass-Master 5000, Engenix 2323" ng-model="builder.poleblank">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>  <button type="submit" class="btn btn-warning">Edit</button> 

    </form>

</section>
</div>
<!-- 
/////These need to be nested - going into two tables - below form needs to have checkbox dropdown to select species, rod and blank types -->

