<section id="newBuilder" class="newBuilder-section">
    <div class="well">    
      <h2>Builder sign up form</h2>
     <form ng-submit="createBuilder()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" placeholder="eg Dick Rodman" ng-model="builder.name">
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="phone" class="form-control" id="phone" placeholder="217.419.6564" ng-model="builder.phone">
      </div>
      <div class="form-group">
        <label for="bio">Your autobiography</label>
        <input type="bio" class="form-control" id="bio" placeholder="I had a friend once, he did some acid, tried to marry me and everyone in the room. He was sorta loving, kinda caring, kind that tried to fuck me and my laz-e-boy" ng-model="builder.bio">
      </div>
      <div class="form-group">
        <label for="minprice">Minimum Price</label>
        <input type="minprice" class="form-control" id="minprice" placeholder="Cheapest pole you sell" ng-model="builder.minprice">
      </div>
      <div class="form-group">
        <label for="maxprice">Maximum Price</label>
        <input type="maxprice" class="form-control" id="maxprice" placeholder="Upper end price for your poles" ng-model="builder.maxprice">
      </div>

      <div class="form-group">
        <label for="location">Where are you located?</label>
        <input type="location" class="form-control" id="location" placeholder="eg Washington" ng-model="builder.location">
      </div>
      <div class="form-group">
        <label for="ship">Do you offer shipping?</label><br/>
        <label ng-repeat="ship in ships">
          <input type="checkbox" checklist-model="builder.ship" checklist-value="ship"> {{ship}}
        </label>    
      </div> 
      <div class="form-group">
        <label for="rodtype">Types of Rods</label>
        <label ng-repeat="rodtype in rodtypes">
          <input type="checkbox" checklist-model="builder.rodtype" checklist-value="rodtype"> {{rodtype}}
        </label>
      </div>
      <div class="form-group">
        <div class="saltwaterSpeciesChecks">
          <label for="species">Saltwater Species</label>
          <label ng-repeat="species in saltwaterSpecies">
            <input type="checkbox" checklist-model="builder.species" checklist-value="species"> {{species}}
          </label>
        </div>
        <div class="freshwaterSpeciesChecks">
          <label for="species">Freshwater Species</label>
          <label ng-repeat="species in freshwaterSpecies">
            <input type="checkbox" checklist-model="builder.species" checklist-value="species"> {{species}}
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="poleblank">Blank Brand</label>
        <label ng-repeat="poleblank in poleblanks">
          <input type="checkbox" checklist-model="builder.poleblank" checklist-value="poleblank"> {{poleblank}}
        </label>      
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>   

    </form>

</section>
</div>
<!-- 
/////These need to be nested - going into two tables - below form needs to have checkbox dropdown to select species, rod and blank types -->

