<h1>Sexy Time Blog-5000</h1>

<a href="/posts/new" class="btn btn-success" ng-show="isLoggedIn()">New Post</a>

<div class="form-group">
  <label for="search">Search</label>
  <input type="text" class="form-control" id="search" ng-model="search">
</div>

<div class="well" ng-repeat="post in posts | filter:{title:search} track by post._id">
  <h1>{{post.title}}</h1>
  <h3>Posted by: {{post.username}}</h3>
  <a ng-href="/post/{{post._id}}">Permalink</a>
  <a ng-click="deletePost(post._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>