

<section id="intro" class="intro-section" ng-controller="ShowCtrl">


    <div class='col-sm-6 col-md-6 col-lg-4'>
      <div class="well">
        <img class="builderImage" src="{{imageUrl}}">
      </div>
    </div>

   <div class='col-sm-6 col-md-6 col-lg-8'>
      <div class="well">

        <h2>{{builder.name}}</h2>
        <p>{{builder.bio}}</p>
         <a href="#/login" ng-hide="isLoggedIn()" class="btn btn-primary">Sign in to see contact info</a>
        <div ng-show="isLoggedIn()">
          <h3>Contact info</h3>
            <h4>{{builder.phone}}<br/>
             {{builder.email}}</h4><br/>
        </div>
        <h5>Located in: {{builder.location}}</h5>
        <h5>Ships to: {{builder.ship}}</h5>

        <h3>Specialties</h3>
        <h4>Types of Reels: </h4><h5>{{builder.rodtype}}</h5>
        <h4>Species of Fish: </h4><h5>{{builder.species}}</h5>
        <h4>Blank Brands: </h4><h5>{{builder.poleblank}}</h5>
         <a ng-click="editMyProfile()" ng-show="sameBuilder()"  class="btn btn-danger">Edit Builder Profile</a>
      </div>
   </div>

</section>

<div ng-controller="CarouselCtrl">
  <div style="max-height: 305px">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

